{% extends '@IbexaCore/content_fields.html.twig' %}

{% trans_default_domain 'field_view' %}

{% block ngexternalvideo_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty(content, field) %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ibexa-field-preview ibexa-field-preview--ngexternalvideo')|trim}) %}
            <div {{ block('field_attributes') }}>
                {% set token = app.request.server.get('CLOUDFLARE_BEARER_TOKEN') %}
                {% set url = app.request.server.get('CLOUDFLARE_API_URL') %}
                <div id="data-api" data-url="{{ url~field.value.id }}" data-token="{{ token }}" style="display: none;"></div>
                <div class="ibexa-field-preview__ngexternalvideo-wrapper">
                    <div class="ibexa-field-preview__thumbnail">
                        <img id="video_thumbnail_image"/>
                    </div>
                    <div class="ibexa-field-preview__meta-wrapper">
                        <table>
                            <thead>
                            <tr class="ibexa-field-preview__meta-title-row">
                                <th class="">{{ 'ngexternalvideo.field_view.video_properties'|trans|desc('External video properties') }}:</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.source'|trans|desc('Source') }}:</td>
                                <td>{{ field.value.source }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.id'|trans|desc('ID') }}:</td>
                                <td>{{ field.value.id }}</td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.name'|trans|desc('Name') }}:</td>
                                <td id="video_name"></td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.duration'|trans|desc('Duration') }}:</td>
                                <td id="video_duration"></td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.resolution'|trans|desc('Resolution') }}:</td>
                                <td id="video_resolution"></td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.date_uploaded'|trans|desc('Date uploaded') }}:</td>
                                <td id="video_date_uploaded"></td>
                            </tr>
                            <tr class="ibexa-field-preview__meta-value-row">
                                <td>{{ 'ngexternalvideo.field_view.preview'|trans|desc('Preview') }}:</td>
                                <td id="video_preview"><a id="video_preview_link" href=""></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block field_attributes %}
    {% apply spaceless %}
        {% set attr = attr|default({}) %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endapply %}
{% endblock %}
