{% extends '@ibexadesign/content/form_fields.html.twig' %}

{% trans_default_domain 'field_edit' %}


{% block ibexa_fieldtype_ngexternalvideo_widget %}
	{% set is_translation = is_translation ?? false %}

	<div class="video-sources-options">
		{{- form_row(form.source, { disabled: is_translation }) -}}
	</div>

	{{ form_row(form.id, {'attr': {'class': 'ibexa-field-edit-ngexternalvideo-id'}, disabled: is_translation}) }}

	{% set token = app.request.server.get('CLOUDFLARE_BEARER_TOKEN') %}
	{% set url = app.request.server.get('CLOUDFLARE_API_URL') %}
	<div id="data-api" data-url="{{ url }}" data-token="{{ token }}" style="display: none;"></div>

	<div class="ibexa-field-edit__ngexternalvideo-wrapper">
		<div class="ibexa-field-edit__thumbnail">
			<img id="video_thumbnail_image"/>
		</div>
		<div class="ibexa-field-edit__meta-wrapper">
			<table>
				<thead>
				<tr class="ibexa-field-edit__meta-title-row">
					<th class="">{{ 'ngexternalvideo.field_edit.video_properties'|trans|desc('External video properties') }}:</th>
				</tr>
				</thead>
				<tbody>
				<tr class="ibexa-field-edit__meta-value-row">
					<td>{{ 'ngexternalvideo.field_edit.name'|trans|desc('Name') }}:</td>
					<td id="video_name"></td>
				</tr>
				<tr class="ibexa-field-edit__meta-value-row">
					<td>{{ 'ngexternalvideo.field_edit.duration'|trans|desc('Duration') }}:</td>
					<td id="video_duration"></td>
				</tr>
				<tr class="ibexa-field-edit__meta-value-row">
					<td>{{ 'ngexternalvideo.field_edit.resolution'|trans|desc('Resolution') }}:</td>
					<td id="video_resolution"></td>
				</tr>
				<tr class="ibexa-field-edit__meta-value-row">
					<td>{{ 'ngexternalvideo.field_edit.date_uploaded'|trans|desc('Date uploaded') }}:</td>
					<td id="video_date_uploaded"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
