{% extends '@IbexaCore/content_fields.html.twig' %}

{% trans_default_domain 'field_view' %}

{% block ngexternalvideo_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty(content, field) %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ibexa-field-preview ibexa-field-preview--ngexternalvideo')|trim}) %}
            <div {{ block('field_attributes') }}>
                <p>Video source: {{ field.value.source }}</p>
                <p>Video ID: {{ field.value.id }}</p>
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block field_attributes %}
    {% apply spaceless %}
        {% set attr = attr|default({}) %}
        {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endapply %}
{% endblock %}
